*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-size: large;
    font:bold;
    text-align: center;
}
.error-input{
  background-color: rgb(230, 44, 44);;
}
.error-msg{
  color: red;
}
input{
  background-color: wheat;
  color: blue;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

